:root {
  --border-color: #ddd;
  --button-search-font: #3c4043;
  --button-search-background: #f8f9fa;
  --footer-background: #f2f2f2;
  --footer-font-color: #70757a;
  --footer-font-color-hover: #3c4043;
  --footer-font-color-active: #ea4335;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* NAV */

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.nav-link {
  opacity: 0.85;
  margin-right: 1.5rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.button-apps {
  height: 30px;
  width: 30px;
  background-image: url("//ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-position: -132px -38px;
  opacity: 0.5;
  background-color: #fff;
  margin-right: 1.5rem;
}

.button-apps:hover,
.button-apps:focus {
  opacity: 0.85;
}

.button-sign-in {
  padding: 0.7rem 1rem;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(69, 133, 244);
  margin-right: 3rem;
  opacity: 0.95;
}

.button-sign-in:hover,
.button-sign-in:focus {
  opacity: 1;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15rem;
}

.logo {
  width: 272px;
  height: 92px;
  margin-bottom: 3rem;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  padding: 1rem;
  border: 0.1px solid var(--border-color);
  border-radius: 30px;
}

.searchbar:hover,
.searchbar:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.text-input-searchbar {
  width: 90%;
  font-size: 1.6rem;
}

.microphone-icon {
  width: 25px;
  height: 25px;
}

.search-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
}

.button-search {
  padding: 0 2rem;
  background-color: var(--button-search-background);
  border-radius: 5px;
  margin: 0.7rem;
  color: var(--button-search-font);
  font-size: 1.4rem;
  height: 36px;
  min-width: 54px;
  border: 1px solid transparent;
}

.button-search:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border-color: #dadce0;
}

.button-search:focus {
  border-color: blue;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid var(--border-color);
  background: var(--footer-background);
  color: var(--footer-font-color);
  font-size: 1.4rem;
}

.left-section,
.right-section {
  display: flex;
}

.footer-link {
  display: block;
  padding: 1rem 2rem;
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--footer-font-color-hover);
}

.footer-link:active {
  color: var(--footer-font-color-active);
}
